In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# FILTERING OUTLIERS

dataf = DataFrame(np.random.randn(10, 4));
dataf

          0         1         2         3
0 -0.180240 -0.657734  0.141349  1.960877
1  0.158042  0.436892 -0.363921 -0.440555
2 -0.092164  0.699642  1.035051  0.186446
3  0.207503 -0.556916 -0.094473 -0.636491
4 -1.364923 -1.139328 -1.992189 -0.867932
5 -1.419516  0.307352 -0.630032 -0.665122
6  0.759652  0.718878 -1.174523  0.569843
7 -0.227306  1.034374 -1.660098  0.415517
8 -0.098730  0.977522 -0.691380 -0.038218
9  0.467956 -0.890035  0.032220  0.329187

In [3]:
col=dataf[3];
col.min()

-0.86793172754313086

In [4]:
col[np.abs(col) > 0.7] # show only vals in spec col > 0.7

0    1.960877
4   -0.867932
Name: 3, dtype: float64

In [5]:
# show any row in the dataset that contains vals > 1

dataf[(np.abs(dataf) > 1).any(1)]

          0         1         2         3
0 -0.180240 -0.657734  0.141349  1.960877
2 -0.092164  0.699642  1.035051  0.186446
4 -1.364923 -1.139328 -1.992189 -0.867932
5 -1.419516  0.307352 -0.630032 -0.665122
6  0.759652  0.718878 -1.174523  0.569843
7 -0.227306  1.034374 -1.660098  0.415517

In [9]:
#Computing Indicator/Dummy Variables:

df = DataFrame({'label': ['b', 'b', 'a', 'c', 'a', 'b'],
                'data1': range(6)});

df

   data1 label
0      0     b
1      1     b
2      2     a
3      3     c
4      4     a
5      5     b

In [11]:
pd.get_dummies(df['label'])

     a    b    c
0  0.0  1.0  0.0
1  0.0  1.0  0.0
2  1.0  0.0  0.0
3  0.0  0.0  1.0
4  1.0  0.0  0.0
5  0.0  1.0  0.0

In [12]:
# to get the data and the dummies in  a same dataset use 'prefix':

dummies=pd.get_dummies(df['label'], prefix='label');
dummies

   label_a  label_b  label_c
0      0.0      1.0      0.0
1      0.0      1.0      0.0
2      1.0      0.0      0.0
3      0.0      0.0      1.0
4      1.0      0.0      0.0
5      0.0      1.0      0.0

In [13]:
df_with_dummy=df[['data1']].join(dummies);
df_with_dummy

   data1  label_a  label_b  label_c
0      0      0.0      1.0      0.0
1      1      0.0      1.0      0.0
2      2      1.0      0.0      0.0
3      3      0.0      0.0      1.0
4      4      1.0      0.0      0.0
5      5      0.0      1.0      0.0