In [2]:
# DOCUMENTATION: https://docs.python.org/2/tutorial/inputoutput.html#saving-structured-data-with-json

import json ##the ''' is a json string that has to be deserialised

data = '''      
{
  "name" : "Chuck",
  "phone" : {
    "type" : "intl",
    "number" : "+1 734 303 4456"
   },
   "email" : {
     "hide" : "yes"
   }
}'''

In [3]:
info=json.loads(data) #this is the turning of string into dictionary
                        #or known as deserialisation
info

{u'email': {u'hide': u'yes'},
 u'name': u'Chuck',
 u'phone': {u'number': u'+1 734 303 4456', u'type': u'intl'}}

In [5]:
info['name']

u'Chuck'

In [6]:
print 'Name', info['name']

Name Chuck

In [7]:
print 'Number', info ['phone']

Number {u'type': u'intl', u'number': u'+1 734 303 4456'}

In [6]:
print 'Number', info['phone']['number']

Number +1 734 303 4456

In [8]:
#a list with two dictionaries

input = ''' 
[
  { "id" : "001",
    "x" : "2",
    "name" : "Chuck"
  } ,
  { "id" : "009",
    "x" : "7",
    "name" : "Kruck"
    } 
]'''

In [9]:
info=json.loads(input)

In [10]:
len(info)

2

In [11]:
for i in info:
    print 'Name', i['name']
    
# enters both dict to find the vals

Name Chuck
Name Kruck

In [12]:
# this is a clean json doc with list of dicts, easy to iterate and analyse:

j_data=open('data-text.json').read()

In [13]:
data=json.loads(j_data)

In [ ]:
for s in data:
    for k,v in s.items():
        print k #World Bank income group, Sex, Display Value, WHO region, Country

In [15]:
fields=['World Bank income group', 'Sex', 'Display Value', 'WHO region', 'Country']

In [17]:
from pandas import DataFrame

In [22]:
df=DataFrame(data)
df.head()

,Comments,Country,Display Value,High,Indicator,Low,Numeric,PUBLISH STATES,Sex,WHO region,World Bank income group,Year
0,,Andorra,77,,Life expectancy at birth (years),,77.0,Published,Both sexes,Europe,High-income,1990
1,,Andorra,80,,Life expectancy at birth (years),,80.0,Published,Both sexes,Europe,High-income,2000
2,,Andorra,28,,Life expectancy at age 60 (years),,28.0,Published,Female,Europe,High-income,2012
3,,Andorra,23,,Life expectancy at age 60 (years),,23.0,Published,Both sexes,Europe,High-income,2000
4,,United Arab Emirates,78,,Life expectancy at birth (years),,78.0,Published,Female,Eastern Mediterranean,High-income,2012

In [27]:
df=DataFrame(data, columns=fields)
df.head()

,World Bank income group,Sex,Display Value,WHO region,Country
0,High-income,Both sexes,77,Europe,Andorra
1,High-income,Both sexes,80,Europe,Andorra
2,High-income,Female,28,Europe,Andorra
3,High-income,Both sexes,23,Europe,Andorra
4,High-income,Female,78,Eastern Mediterranean,United Arab Emirates