In [3]:
love=list(); #append
love.append(21);
love.append(33);
love.append(88);
love.append(66);
love

[21, 33, 88, 66]

In [6]:
love[1]=34; #assign
love

[21, 34, 88, 66]

In [7]:
love[1:3]=34; #assigning more i in a list simult is not allowed
love

TypeError: can only assign an iterable

In [3]:
love.append('google'); #nubers and strings
love

[21, 34, 'google']

In [7]:
len(love) #lenght

3

In [8]:
range(len(love)) #range

[0, 1, 2]

In [13]:
love.append(6); #sorting lists
love.append('fix');
love.sort();
love

[6, 6, 21, 34, 'fix', 'google']

In [9]:
a=[1,2,3];
b=[4,5,6,88];
c=a+b;  #adding list to a list
c

[1, 2, 3, 4, 5, 6, 88]

In [10]:
d=[22,33,44];
c.append(d); #appending list to a list
c

[1, 2, 3, 4, 5, 6, 88, [22, 33, 44]]

In [11]:
max(c)

[22, 33, 44]

In [12]:
min(c)

1

In [13]:
sum(b) # sum(c) would not be supported

103

In [37]:
sum(b)/len(b) # the average of list

25

In [14]:
c[1:] # slicing list

[2, 3, 4, 5, 6, 88, [22, 33, 44]]

In [15]:
c[:3]

[1, 2, 3]

In [18]:
c[1:8]

[2, 3, 4, 5, 6, 88, [22, 33, 44]]

In [21]:
c[2:2]

[]

In [25]:
9 not in c  # checking for belonging to a list

True

In [26]:
sen='i love you';
words=sen.split(); #making list of words from a  string
words

['i', 'love', 'you']

In [27]:
for s in words:
    print s

i
love
you

In [28]:
string='33;44;love';
items=string.split(';');
items

['33', '44', 'love']

In [42]:
hand=open('mbox-short.txt')
for line in hand:
    line=line.rstrip()
    if not line.startswith('From '): continue #returns to the top
    words=line.split()
    print words[2]
    email=words[1]
    pieces=email.split('@')
    print pieces[1]

Sat
uct.ac.za
Fri
media.berkeley.edu
Fri
umich.edu
Fri
iupui.edu
Fri
umich.edu
Fri
iupui.edu
Fri
iupui.edu
Fri
iupui.edu
Fri
umich.edu
Fri
umich.edu
Fri
umich.edu
Fri
umich.edu
Fri
iupui.edu
Fri
umich.edu
Fri
caret.cam.ac.uk
Fri
gmail.com
Fri
uct.ac.za
Fri
uct.ac.za
Fri
uct.ac.za
Fri
uct.ac.za
Fri
uct.ac.za
Thu
media.berkeley.edu
Thu
media.berkeley.edu
Thu
media.berkeley.edu
Thu
iupui.edu
Thu
iupui.edu
Thu
iupui.edu

In [ ]:
#DICTIONARIES

In [3]:
purse=dict()
purse['money']=12
purse['candy']=3
purse['key']=1
print purse
print purse['key']

{'money': 12, 'key': 1, 'candy': 3}
1

In [4]:
names={'jean':3, 'ol':4}
names

{'jean': 3, 'ol': 4}

In [6]:
counts=dict() #counting items in a list with dict() method
num=[33,45,51,3,5,89,3,5,3,3]
for i in num:
    if i not in counts:
        counts[i]=1
    else:
        counts[i]=counts[i]+1
counts

{3: 4, 5: 2, 33: 1, 45: 1, 51: 1, 89: 1}

In [8]:
counts=dict() # shorter 
num=[33,45,51,3,5,89,3,5,3,3]
for i in num:
    counts[i]=counts.get(i,0)+1
counts

{3: 4, 5: 2, 33: 1, 45: 1, 51: 1, 89: 1}

In [15]:
d={'luca':4, 'olga':2, 'jan':3, 'sonja':4, 'luca':1}
d

{'jan': 3, 'luca': 1, 'olga': 2, 'sonja': 4}

In [16]:
d={'luca':4, 'olga':2, 'jan':3, 'sonja':4, 'luca':1}
list(d)

['jan', 'olga', 'luca', 'sonja']

In [17]:
d={'luca':4, 'olga':2, 'jan':3, 'sonja':4, 'luca':1}
d.keys()

['jan', 'olga', 'luca', 'sonja']

In [18]:
d={'luca':4, 'olga':2, 'jan':3, 'sonja':4, 'luca':1}
d.values()

[3, 2, 1, 4]

In [19]:
d={'luca':4, 'olga':2, 'jan':3, 'sonja':4, 'luca':1}
d.items()

[('jan', 3), ('olga', 2), ('luca', 1), ('sonja', 4)]

In [23]:
d={'luca':4, 'olga':2, 'jan':3, 'sonja':4}
for i in d:
    print i

jan
olga
luca
sonja

In [29]:
d={'luca':4, 'olga':2, 'jan':3, 'sonja':4, 'luca':6} 
for i in d:
    print i, d[i]
#there are two 'luca', it shows only the last

jan 3
olga 2
luca 6
sonja 4

In [32]:
d={'luca':4, 'olga':2, 'jan':3, 'sonja':4, 'luca':6} #same, better
for k,v in d.items():
    print k,v 
#however, shows again only the last 'luca'

jan 3
olga 2
luca 3
sonja 4

In [33]:
d={'luca':4, 'olga':2, 'jan':3, 'sonja':4, 'luca':6}

largestcount=None
largesword=None
for k,v in d.items():
    if largestcount is None or v>largestcount:
        largestword=k #keep
        largestcount=v #keep: take the bigest count so far
                  #and stick it to the most freq count so far 
print largestword, largestcount

luca 6

In [3]:
stuff = dict()
print stuff.get('candy',-1)+2

1